#
# TODO: add comments

set_log_format "$1"

export LOCAL_PATH="/usr/local"

export DEFAULT_PYTHON_VERSION="2.7.11"
export DEFAULT_RUBY_VERSION="2.3.1" 

use homebrew "${LOCAL_PATH-/usr/local}"
use go "$HOME"
use nodejs "${LOCAL_PATH-/usr/local}"

cwd="$(get_cwd "$1")"
source_env '.envauto'

PATH_add "./bin"

watch_file ".config/fish/config.fish"
watch_file ".config/fish/local.fish"
watch_file "$HOME/.pyenv/versions"
watch_file "$HOME/.rubies"

