#!/usr/bin/env bash
#
# tom hensel <github@jitter.eu> 2016
# powered by https://github.com/gretel/automagic
#            https://github.com/zimbatm/direnv
# -*- mode: bash; coding:utf-8; tab-width: 4; indent-tabs-mode: nil; -*-

set -e

### argument: prefix of homebrew installation
use homebrew "${PREFIX-/usr/local}"
### argument: prefix of golang installation
use go "$HOME"
### argument: prefix of node.js installation
use node_mini "${PREFIX-/usr/local}"

### watch shell configuration file as they  exports environment variables
watch_file '.config/fish/config.fish'
watch_file '.bashrc'


### automagic
###
### important:
###   call the use_auto_* functions late -
###   otherwise PATH might not be populated!
### note:
###   calling the functions directly (instead of the 'use' wrapper)
###   is done to prevent verbose logging. this is subject to change.
###
### add the bin directory next to this file if exist to have the
### containing binaries available in PATH
test -d 'bin' && PATH_add 'bin'

### call wrapper to include .automagic and setup
use_auto "$1"

### decorate log output
auto_log_prefix "$(expand_path "$1")"

### argument: pass $1 to keep the current context
use_auto_ruby "$1"
### watch directories relevant to ruby
watch_file "$HOME/.rubies"
watch_file '.ruby-version'

use_auto_python "$1"
### watch directories relevant to python
watch_file "$HOME/.pyenv/versions"
watch_file "$HOME/.pyenv/version"
watch_file '.python-version'
