# tom hensel <github@jitter.eu> 2016
# powered by https://github.com/zimbatm/direnv
# -*- mode: bash; coding:utf-8; tab-width: 2; indent-tabs-mode: nil; -*-

set -e

export LOCAL_PATH="/usr/local"

export DEFAULT_PYTHON_VERSION="2.7.11"
export DEFAULT_RUBY_VERSION="2.3.1"

### automagi
log_prefix "$1"
use_auto_ruby "$1"
use_auto_python "$1"

use homebrew "${LOCAL_PATH-/usr/local}"
use go "$HOME"
use nodejs "${LOCAL_PATH-/usr/local}"

PATH_add "./bin"

watch_file ".config/fish/config.fish"
watch_file ".config/fish/local.fish"

watch_file "$HOME/.pyenv/versions"
watch_file "$HOME/.rubies"
