[user]
  name = Tom Hensel
  email = github@jitter.eu

[credential]
  helper = osxkeychain

[help]
  autocorrect = 1

[core]
  pager = cat
  editor = joe

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

[color "branch"]
  current = bold
  upstream = cyan

[pager]
  blame = less -S

[diff]
  algorithm = patience

[grep]
  extendRegexp = true

[branch]
  autosetupmerge = true

[rerere]
  enabled = true

[tag]
  sort = version:refname

[fetch]
  prune = true
  fsckobjects = true

[push]
  default = upstream

[transfer]
  fsckobjects = true

[receive]
  fsckObjects = true

[github]
  user = gretel

[git-up "bundler"]
  check = true

